<%- include('include/_header') %>
<section style="align-items: center;">
    <div class="container heading-container" >
        <div class="row">
            <div class="column">
                <h1>Accomodations</h1>
            </div>
        </div>
    
    </div> <div class="createnew-btn" >
        <div class="box-nav d-flex justify-between">
            <a href="/create-accomodation" class="border-shadow">
                <span class="text-gradient">Create New <i class="fa-solid fa-user"></i></span>
            </a>
    </div>
</section>


<%- include('include/_footer') %> 