<%- include('include/_header') %>

<div class="container heading-container">
    <div class="row">
        <div class="column">
            <h1>Accomodations</h1>
        </div>
    </div>

</div> <div class="createnew-btn">
    <div class="box-nav d-flex justify-between">
        <a href="/add-new-accomodation" class="border-shadow">
            <span class="text-gradient">Create New <i class="fa-solid fa-user"></i></span>
        </a>
</div>

<%- include('include/_footer') %>