<%- include('include/_header') %>

<div class="container form-container">
    <div class="row">
        <div class="col-md-5 mx-auto mt-3">
            <div class="card shadow">
                <div class="card-header bg-primary">
                    <h3 class="text-light">
                        Add new Service
                    </h3>
                </div>
                <div class="card-body  p-2">
                    <!-- route name -->
                    <form action="/add-transpotaion" method="post" id="add-form" enctype="multipart/form-data">

                        <div class="mb-2">
                            <label for="title">Title</label>
                            <input type="text" name='title' class="form-control form-control-sm" placeholder="Enter Title" required/>
                        </div>
                        <div class="mb-2">
                            <label for="description">Description</label>
                            <input type="text" name='description' class="form-control form-control-sm" placeholder="Enter Main Description" required/>
                        </div>
                        <div class="mb-2">
                            <label for="otherdesc">Other Description</label>
                            <input type="text" name='otherdesc' class="form-control form-control-sm" placeholder="Enter Other Description" required/>
                        </div>
                                            
                        <div class="mb-2">
                            <label for="price">Price</label>
                            <input type="text" name='price' class="form-control form-control-sm" placeholder="Enter Rate" required/>
                        </div>
                        <div class="mb-2">
                            <label for="phone">Phone</label>
                            <input type="text" name='phone' class="form-control form-control-sm" placeholder="Enter Contact details" required/>
                        </div>
                                                
                        <div class="mb-2">
                            <label for="vehicletype">Vehicle Type</label>
                            <select id="vehicletype" name="vehicletype" class="form-control form-control-sm" placeholder="Vehicle Type" required>
                                <option value="Normal">Normal</option>
                                <option value="Semi-Luxury">Semi-Luxury</option>
                                <option value="Luxury">Luxury</option>
                                
                            </select>
                        
                        </div>
                        
                        <div class="mb-2">
                            <label for="image" class="form-lable">Select Image</label>
                            <input type="file" name='image' id="image" class="form-control form-control-sm" required/>
                        </div>

                        <div class="mb-3 d-grid">
                            <input type="Submit" name="submit" value="Create Service" class="btn btn-primary btn-md">
                        </div>

                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>

<%- include('include/_footer') %> 